## Center for Justice Innovation: Research and Data Associate Data Task: 1 CLEANING

#### Prompt

<b>Background</b>

The attached datasets are for a theoretical alternative sentencing program for individuals 15 and older who were court-mandated either to group sessions or individual counseling services (or both) with a nonprofit agency.

<b>Instructions</b>

Based on the data, please tell us, grouped by people younger than 25 and those 25 and older (<b>at the time their case opened</b>):
1.	How many individuals attended at least one individual counseling session in 2019?
2.	How many individuals attended at least one group counseling session in 2019?
3.	Of the individuals who attended at least one individual counseling session, what is the average number of individual counseling sessions attended by year?
4.	How has the average individual counseling sessions attended changed between 2018 and 2019?
5.	Among closed cases, which individual had the highest group counseling session attendance rate, excluding cancelled sessions?
6.	Among closed cases, identify the individual(s) that had an individual counseling session attendance rate (excluding cancelled sessions) in the bottom quartile.
7.	Explain how you would approach summarizing or visually presenting the above findings to program staff.

Please summarize the steps you used to get the above information (including any data cleaning needed) and list any lingering questions and key findings. Please include any definitions or assumptions you made to complete the task.

#### 07/31/2023 at 16:42 CEST
* Read in  data, "rda_data_exercise_client.csv" and "rda_data_exercise_program.csv"
* Clean data
* Export interim and processed data

### NOTE: Access the accompanying Google Doc: https://docs.google.com/document/d/1KlWVkjx1sDyvUm6yZoa13OFqU4YUC3WW4-6VmCHdw9g/edit?usp=sharing

In [1]:
# import necessary packages
import os
import numpy as np
import pandas as pd
#from datetime import datetime

In [2]:
# change working directory to a specified directory
os.chdir('../')
print("Directory Changes")

# Get current working directory
cwd = os.getcwd()
print("Current working directory is:", cwd)

Directory Changes
Current working directory is: C:\Users\Carol\Documents\Work\WorkOpportunities\CJI\cji-analysis

### 0. Data Understanding

#### 0.1 Client Data Understanding

In [3]:
# read in raw 'rda_data_exercise_client' data
data_client_raw = pd.read_csv("data/raw/rda_data_exercise_client.csv")

In [4]:
# gain insight into 'data_client_raw'
data_client_raw.shape 

# 'data_raw' has 23 entries, i.e., 23 instances of participating clients
    ## in the alternative sentencing program

(23, 6)

In [5]:
# gain insight into 'data_client_raw'
data_client_raw.tail()

,First Name,Last Name,Date of Birth,Person ID,Case Opened Date,Case Closed Date
18,Charlie,Dog,15/11/2001,1000180,01/09/2019,01/11/2019
19,Petunia,Pig,14/12/2002,1000190,14/04/2019,05/08/2019
20,Cecil,Turtle,15/07/1965,1000200,01/07/2019,06/09/2019
21,Giovanni,Jones,04/08/1957,1000210,05/08/2018,01/02/2019
22,Ralph,Phillips,29/09/1999,1000220,12/05/2019,01/09/2019

In [6]:
# get 'data_client_raw' column names
print(data_client_raw.columns)

Index(['First Name', 'Last Name', 'Date of Birth', 'Person ID',
       'Case Opened Date', 'Case Closed Date'],
      dtype='object')

In [7]:
# check for duplicate rows and drop them
data_client_raw.drop_duplicates()

,First Name,Last Name,Date of Birth,Person ID,Case Opened Date,Case Closed Date
0,Tweety,Bird,09/05/1987,1000010,09/05/2019,16/10/2019
1,Buster,Bunny,03/09/1992,1000020,20/01/2019,04/05/2019
2,Sylvester,Cat,08/03/1998,1000030,01/04/2019,12/08/2019
3,Road,Runner,05/01/1990,1000040,05/03/2018,22/08/2018
4,Road,Runner,05/01/1990,1000040,05/07/2019,31/10/2019
5,Wiley,Coyote,05/03/2000,1000050,13/04/2019,30/07/2019
6,Fred,Flinstone,14/04/2001,1000060,01/10/2019,NaN
7,Marvin,Martian,05/12/2023,1000070,15/05/2019,21/09/2019
8,Elmer,Fudd,29/07/1999,1000080,19/09/2018,NaN
9,Roger,Rabbit,01/08/1995,1000090,14/03/2019,12/09/2019
10,Bugs,Bunny,16/06/1985,1000100,25/05/2109,12/09/2019
11,Daffy,Duck,22/04/1975,1000110,01/08/2018,NaN
12,Spongebob,Squarepants,13/06/1991,1000120,05/01/2019,12/09/2019
13,Foghorn,Leghorn,15/08/1997,1000130,23/04/2019,01/10/2019
14,Tasmanian,Devil,25/11/2023,1000140,12/01/2019,15/07/2019
15,Penelope,Cat,19/03/1988,1000150,07/05/2019,NaN
16,Yosemite,Sam,17/05/1993,1000160,19/01/2019,15/06/2019
17,Hector,Bulldog,19/10/1998,1000170,12/08/2018,11/09/2019
18,Charlie,Dog,15/11/2001,1000180,01/09/2019,01/11/2019
19,Petunia,Pig,14/12/2002,1000190,14/04/2019,05/08/2019
20,Cecil,Turtle,15/07/1965,1000200,01/07/2019,06/09/2019
21,Giovanni,Jones,04/08/1957,1000210,05/08/2018,01/02/2019
22,Ralph,Phillips,29/09/1999,1000220,12/05/2019,01/09/2019

In [8]:
# check in 'data_client_raw' for instances where 'First Name' is not listed
data_client_raw['First Name'].isnull().sum()

# 0 client records lack a 'First Name' value

0

In [9]:
# check in 'data_client_raw' for instances where 'Last Name' is not listed
data_client_raw['Last Name'].isnull().sum()

# 0 client records lack a 'Last Name' value

0

In [10]:
# check in 'data_client_raw' for instances where 'Date of Birth' is not listed
data_client_raw['Date of Birth'].isnull().sum()

# 0 client records lack a 'Date of Birth' value

0

In [11]:
# check in 'data_client_raw' for instances where 'Case Opened Date' is not listed
data_client_raw['Case Opened Date'].isnull().sum()

# 0 client records lack a 'Case Opened Date' value

0

In [12]:
# check in 'data_client_raw' for instances where 'Case Closed Date' is not listed
data_client_raw['Case Closed Date'].isnull().sum()

# 4 client records lack a 'Case Closed Date' value

4

In [13]:
# identify index values in 'data_client_raw' where the 'Case Closed Date' is missing
missing_close_date = [index for index, row in data_client_raw.iterrows() if row.isnull().any()]
print(missing_close_date)

## NOTE: the 'Case Closed Date' is missing for indexes 6, 8, 11, and 15.  This could mean that
    ## these cases are either 1) ongoing or 2) there has been an error in data entry.
    ## Regardless, this is an interesting point to consider in interpreting findings / guiding
    ## future work.

[6, 8, 11, 15]

In [14]:
# check in 'data_client_raw' for instances where 'Person ID' (unique person identification number) is not listed
data_client_raw['Person ID'].isnull().sum()

# 0 client instances lack a 'Person ID' value

0

In [15]:
# check for recurring instances in 'data_client_raw' of 'Person ID' to see if there are any instances of the same
    ## person being recorded more than once in the data
data_client_raw['Person ID'].nunique() 

# 22 unique 'Person ID' but 23 instances of participating clients, meaning one client's ID shows up more than once
    ## (i.e., twice) in the data

22

In [16]:
# check in 'data_client_raw' for instances of duplicated 'Person ID'
values = data_client_raw['Person ID'].value_counts()
values = values[values > 1].index.tolist()
print(len(values))
print(values)

# 1 'Person ID' values, "1000040", appears more than once in 'data_client_raw'

1
[1000040]

In [17]:
# inspect additional information associated with 'Person ID' 1000040, which shows up in the dataset more than once
data_client_raw.loc[data_client_raw['Person ID']==1000040]

## NOTE: Upon further inspection, 'Person ID' '1000040' appears in the data 2 times.
    ## This individual had one case opened on March 5, 2018 and closed on August 22, 2018.
    ## Then, roughly a year after their first case had closed, they then had a second case 
    ## opened on July 5, 2019.  This second case closed on October 31 2019.
    ## FUTURE RESEARCH could involve trying to understand the surrounding circumstances related to
    ## this person's return to an alternate sentencing program.  For example, is there a correlation
    ## between their age, the number of individual counseling / group sessions attended/cancelled, and 
    ## the need to return to programming?

,First Name,Last Name,Date of Birth,Person ID,Case Opened Date,Case Closed Date
3,Road,Runner,05/01/1990,1000040,05/03/2018,22/08/2018
4,Road,Runner,05/01/1990,1000040,05/07/2019,31/10/2019

#### 0.2 Program Data Understanding

In [18]:
# read in raw 'rda_data_exercise_program' data
data_program_raw = pd.read_csv("data/raw/rda_data_exercise_program.csv")

In [19]:
# gain insight into 'data_program_raw'
data_program_raw.shape 

# 'data_raw' has 177 entries, i.e., 177 instances of participating clients
    ## attending (or not) the alternative sentencing programming

(177, 4)

In [20]:
# gain insight into 'data_program_raw'
data_program_raw.tail()

## NOTE:  'data_program_raw' is in long form, so each row represents every instance
    ## where a client, with their individual 'Person ID', attended (Y/N/Cancelled) 
    ## a specific type of programming on a specific date.  Thus, no need to find instances
    ## of repeated 'Person ID', just need to find instances of repeated rows

     Person ID                Program        Date   Attended
172    1000220            Group Class  20/08/2019          Y
173    1000220  Individual Counseling  26/10/2019  Cancelled
174    1000220  Individual Counseling  18/05/2019          Y
175    1000220  Individual Counseling  12/07/2019          N
176    1000220  Individual Counseling  18/08/2019          N

In [21]:
# get 'data_program_raw' column names
print(data_program_raw.columns)

Index(['Person ID', 'Program', 'Date', 'Attended'], dtype='object')

In [22]:
# check for duplicate rows and drop them
data_program_raw.drop_duplicates()

     Person ID                Program        Date   Attended
0      1000010  Individual Counseling  02/10/2019  Cancelled
1      1000010  Individual Counseling  07/10/2019  Cancelled
2      1000010            Group Class  13/09/2019          Y
3      1000010            Group Class  21/09/2019          Y
4      1000010            Group Class  29/09/2019          Y
..         ...                    ...         ...        ...
172    1000220            Group Class  20/08/2019          Y
173    1000220  Individual Counseling  26/10/2019  Cancelled
174    1000220  Individual Counseling  18/05/2019          Y
175    1000220  Individual Counseling  12/07/2019          N
176    1000220  Individual Counseling  18/08/2019          N

[176 rows x 4 columns]

In [23]:
# check in 'data_program_raw' for instances where 'Program' is not listed
data_program_raw['Program'].isnull().sum()

# 0 client records lack a 'Program' value

0

In [24]:
# check in 'data_program_raw' for instances where 'Date' is not listed
data_program_raw['Date'].isnull().sum()

# 0 client records lack a 'Date' value

0

In [25]:
# check in 'data_program_raw' for instances where 'Attended' is not listed
data_program_raw['Attended'].isnull().sum()

# 0 client records lack a 'Attended' value

0

In [26]:
# check in 'data_program_raw' for instances where 'Person ID' (unique person identification number) is not listed
data_program_raw['Person ID'].isnull().sum()

# 0 client instances lack a 'Person ID' value

0

### 1. Data Preparation

#### 1.1 Client Data Preparation

##### Client Dates

In [27]:
# make sure that 'Date of Birth', 'Case Opened Date', and 'Case Closed Date' columns of 'data_client_raw' are actually dates
    ## NOTE: date is in dd/mm/yyyy format, NOT mm/dd/yyyy
data_client_raw['Date of Birth'] = pd.to_datetime(data_client_raw['Date of Birth'], format = "%d/%m/%Y")
data_client_raw['Case Opened Date'] = pd.to_datetime(data_client_raw['Case Opened Date'], format = "%d/%m/%Y")
data_client_raw['Case Closed Date'] = pd.to_datetime(data_client_raw['Case Closed Date'], format = "%d/%m/%Y")

In [28]:
# initialize an empty list, 'bad_dates' to store the instances of rows where 'Case Opened Date' date 
    ## comes before 'Case Closed Date' date
bad_dates = []

# iterate through each row in the dataframe
for index, row in data_client_raw.iterrows():
    # get the dates from 'Case Opened Date' and 'Case Closed Date'
    date_opened = row['Case Opened Date']
    date_closed = row['Case Closed Date']

    # compare the dates and check if 'Case Closed Date' date comes before 'Case Opened Date' date
    if date_closed < date_opened:
        # if the condition is true, save the column ID (index) in the list, 'bad_dates'
        bad_dates.append(index)

In [29]:
# gain insight into 'bad_dates'
bad_dates

# 'data_client_raw' indexed at 10 present issues in the data, where the 'Case Closed Date'
    ## comes before the 'Case Opened Date'.  Must investigate these instances further!

[10]

In [30]:
# gain insight into 'data_client_raw' index 10
data_client_raw.iloc[10]

## NOTE: An obvious error exists where 'Case Opened Date' year is '2109' instead of '2019'
    ## This must be fixed manually!

First Name                         Bugs
Last Name                         Bunny
Date of Birth       1985-06-16 00:00:00
Person ID                       1000100
Case Opened Date    2109-05-25 00:00:00
Case Closed Date    2019-09-12 00:00:00
Name: 10, dtype: object

In [31]:
# change index 10 'data_client_raw' year from '2109' to '2019'    
data_client_raw.loc[10, 'Case Opened Date'] = '2019-05-25'

##### Client Person IDs

In [32]:
# create a new function, 'assignID_0' to creates a new Person ID with add-ons '_00' and '_01' for clients that have more than one case
    ## considering the 'Case Opened Date'
def assignID_0(row):
    person_id = row['Person ID']
    case_date = row['Case Opened Date']
    
    if int(person_id) in values and case_date.year == 2018:
        person_id = person_id + '_00'
        
    elif int(person_id) in values and case_date.year == 2019:
        person_id = person_id + '_01'
        
    else:
        person_id = person_id
    return person_id

In [33]:
# convert 'data_client_raw' 'Person ID' to string
data_client_raw['Person ID'] = data_client_raw['Person ID'].astype(str)

In [34]:
# apply assignID to 'data_client_raw' to column, 'Person ID'
data_client_raw['Person ID'] = data_client_raw.apply(lambda row: assignID_0(row), axis = 1)

#### 1.2 Program Data Preparation

##### Program Column Names

In [35]:
# get 'data_program_raw' column names
print(data_program_raw.columns)

Index(['Person ID', 'Program', 'Date', 'Attended'], dtype='object')

In [36]:
# rename 'Date' column to 'Program Date' and 'Attended' to 'Program Attended' in 'data_program_raw' 
data_program_raw.columns = ['Person ID', 'Program', 'Program Date', 'Program Attendence']

##### Program Dates

In [37]:
# make sure that 'Program Date' column in 'data_client_raw' is actually a date
    ## NOTE: date is in dd/mm/yyyy format, NOT mm/dd/yyyy
data_program_raw['Program Date'] = pd.to_datetime(data_program_raw['Program Date'], format = "%d/%m/%Y")

##### Program Person IDs

In [38]:
# create a new function, 'assignID_1' to creates a new Person ID with add-ons '_00' and '_01' for clients that have more than one case
    ## considering the 'Program Date'
def assignID_1(row):
    person_id = row['Person ID']
    program_date = row['Program Date']
    
    if int(person_id) in values and program_date.year == 2018:
        person_id = person_id + '_00'
        
    elif int(person_id) in values and program_date.year == 2019:
        person_id = person_id + '_01'
        
    else:
        person_id = person_id
    return person_id

In [39]:
# convert 'data_program_raw' 'Person ID' to string
data_program_raw['Person ID'] = data_program_raw['Person ID'].astype(str)

In [40]:
# apply assignID to 'data_program_raw' to make column, 'Person ID'
data_program_raw['Person ID'] = data_program_raw.apply(lambda row: assignID_1(row), axis = 1)

### 2. Merging Prepared Data

In [41]:
# make sure that 'Person ID' can be merged on for 'data_client_raw' and 'data_program_raw'

# create lists to store 'Person ID' values from each 'data_client_raw' and 'data_program_raw' dataframes
client_IDs = list(data_client_raw['Person ID'].unique())
program_IDs = list(data_program_raw['Person ID'].unique())

# check if lists with 'Person ID' info are equal
# sorting both the lists
client_IDs.sort()
client_IDs.sort()
 
# using == to check if lists are equal
if client_IDs == program_IDs:
    print("The listed Person IDs are identical")
else:
    print("The listed Person IDs are not identical")

The listed Person IDs are identical

In [42]:
# merge 'data_client_raw' and 'data_program_raw' dataframes on the 'Person ID'
data_merge = pd.merge(data_client_raw, data_program_raw, on= 'Person ID')

In [43]:
# gain insight into 'data_merge'
data_merge

,First Name,Last Name,Date of Birth,Person ID,Case Opened Date,Case Closed Date,Program,Program Date,Program Attendence
0,Tweety,Bird,1987-05-09,1000010,2019-05-09,2019-10-16,Individual Counseling,2019-10-02,Cancelled
1,Tweety,Bird,1987-05-09,1000010,2019-05-09,2019-10-16,Individual Counseling,2019-10-07,Cancelled
2,Tweety,Bird,1987-05-09,1000010,2019-05-09,2019-10-16,Group Class,2019-09-13,Y
3,Tweety,Bird,1987-05-09,1000010,2019-05-09,2019-10-16,Group Class,2019-09-21,Y
4,Tweety,Bird,1987-05-09,1000010,2019-05-09,2019-10-16,Group Class,2019-09-29,Y
...,...,...,...,...,...,...,...,...,...
172,Ralph,Phillips,1999-09-29,1000220,2019-05-12,2019-09-01,Group Class,2019-08-20,Y
173,Ralph,Phillips,1999-09-29,1000220,2019-05-12,2019-09-01,Individual Counseling,2019-10-26,Cancelled
174,Ralph,Phillips,1999-09-29,1000220,2019-05-12,2019-09-01,Individual Counseling,2019-05-18,Y
175,Ralph,Phillips,1999-09-29,1000220,2019-05-12,2019-09-01,Individual Counseling,2019-07-12,N
176,Ralph,Phillips,1999-09-29,1000220,2019-05-12,2019-09-01,Individual Counseling,2019-08-18,N

### 3. Adding Data Columns from Merged Data

In [44]:
# create a copy of 'data_merge' called 'data'
data = data_merge.copy()

#### 3.1 Adding Age

In [45]:
# calculate age of client at time of case opening for 'data'
data['age'] = ((data['Case Opened Date'] - data['Date of Birth']) / np.timedelta64(1, 'Y')).astype('int')

In [46]:
# get insight into 'data' 'age'
data['age'].unique()

## NOTE: An 'age' of -4 is impossible

array([32, 26, 21, 28, 29, 19, 18, -4, 23, 33, 43, 27, 31, 25, 17, 16, 53,
       61])

In [47]:
# get insight into 'data' age'
data['age'].value_counts()

## NOTE: An 'age' of -4 is impossible.  This is clearly an error in the data that is worth mentioning (LIMITATION)

 19    43
 53    14
 25    14
 61    11
 26    10
 21    10
 17     8
 32     8
 18     8
 43     7
 28     7
 23     6
-4      6
 31     6
 33     6
 27     5
 16     5
 29     3
Name: age, dtype: int64

In [48]:
# gain insight into which client entries are 'age' = '-4'
data.loc[data['age']==-4]

## NOTE: 2 clients, ('Person ID' = 1000070; and 'Person ID' = 1000140) have 'Date of Birth's listed with the year 2023
    ## This is clearly an error in the data (LIMITATION) - make sure to disregard these values (can do this by grouping by
    ## x < 0; 0 < x < 25; and x > = 25)

,First Name,Last Name,Date of Birth,Person ID,Case Opened Date,Case Closed Date,Program,Program Date,Program Attendence,age
47,Marvin,Martian,2023-12-05,1000070,2019-05-15,2019-09-21,Individual Counseling,2019-06-12,Y,-4
48,Marvin,Martian,2023-12-05,1000070,2019-05-15,2019-09-21,Individual Counseling,2019-06-17,Y,-4
49,Marvin,Martian,2023-12-05,1000070,2019-05-15,2019-09-21,Individual Counseling,2019-06-27,Y,-4
50,Marvin,Martian,2023-12-05,1000070,2019-05-15,2019-09-21,Group Class,2019-12-15,Cancelled,-4
99,Tasmanian,Devil,2023-11-25,1000140,2019-01-12,2019-07-15,Group Class,2019-02-02,N,-4
100,Tasmanian,Devil,2023-11-25,1000140,2019-01-12,2019-07-15,Individual Counseling,2019-09-15,Cancelled,-4

In [49]:
# create function, 'getAgeGroup' that takes the 'age' of each client at the date of their case opening and
    ## categorizes the concerned citizen into an age group

def getAgeGroup(ageValue):
    age = int(ageValue)
    group = 0
    
    if age < 0:
        group = 'Unidentified Age' 
    elif age > 0 and age < 25:
        group = 'Younger than 25 Years'      
    else:
        group = '25 Years or Older'
    return group

In [50]:
# apply 'getAgeGroup' function to 'data' to make new column, 'age_group'
data['age_group'] = data['age'].apply(lambda row: getAgeGroup(row))

In [51]:
# create new 'data' columns, that both sum and take the mean of important columns of interest to create counts and averages 
    ## per demographic category of interest

# get age specific column counts
data['Unidentified Age'] = data['age_group'].apply(lambda x: 1 if x=='Unidentified Age' else 0)
data['Younger than 25 Years'] = data['age_group'].apply(lambda x: 1 if x=='Younger than 25 Years' else 0)
data['25 Years or Older'] = data['age_group'].apply(lambda x: 1 if x=='25 Years or Older' else 0)

#### 3.2 Adding Program Group

In [52]:
# get insight into 'data' 'Program'
data['Program'].unique()

array(['Individual Counseling', 'Group Class'], dtype=object)

In [53]:
# create new 'data' columns, that both sum and take the mean of important columns of interest to create counts and averages 
    ## per demographic category of interest

# get program group specific column counts
data['Individual Counseling'] = data['Program'].apply(lambda x: 1 if x=='Individual Counseling' else 0)
data['Group Class'] = data['Program'].apply(lambda x: 1 if x=='Group Class' else 0)

#### 3.3 Adding Program Attendence Group

In [54]:
# get insight into 'data' 'Program'
data['Program Attendence'].unique()

## NOTE: An ASSUMPTION is made that:
    ## 'Cancelled' refers to the nonprofit cancelling that programming for the day (i.e., NOT the client cancelling their session)
    ## 'Y' means that the client did attend the scheduled program
    ## 'N' means that the client did not attend the scheduled program

array(['Cancelled', 'Y', 'N'], dtype=object)

In [55]:
# create new 'data' columns, that both sum and take the mean of important columns of interest to create counts and averages 
    ## per demographic category of interest

# get program attendence specific column counts
data['Program Attended'] = data['Program Attendence'].apply(lambda x: 1 if x=='Y' else 0)
data['Program Not Attended'] = data['Program Attendence'].apply(lambda x: 1 if x=='N' else 0)
data['Program Cancelled'] = data['Program Attendence'].apply(lambda x: 1 if x=='Cancelled' else 0)

#### 3.4 Adding Program Year Group

In [56]:
# create function, 'getProgramYearGroup' that takes the year of 'Program Date' for each instances and
    ## categorizes the concerned client's session as either a '2018 Program' or a '2019 Program'

def getProgramYearGroup(row):
    program_date = row['Program Date']
    group = 0
    
    if program_date.year == 2018:
        group = '2018 Program' 
    elif program_date.year == 2019:
        group = '2019 Program'      
    else:
        group = 'Unidentified Program Year'
    return group

In [57]:
# apply 'getProgramYearGroup' function to 'data' to make new column, 'program_year_group'
data['program_year_group'] = data.apply(lambda row: getProgramYearGroup(row), axis = 1)

In [58]:
# gain insight into 'program_year_group' column in 'data'
data['program_year_group'].unique()

array(['2019 Program', '2018 Program'], dtype=object)

In [59]:
# create new 'data' columns, that both sum and take the mean of important columns of interest to create counts and averages 
    ## per demographic category of interest

# get program year specific column counts
data['2018 Program'] = data['program_year_group'].apply(lambda x: 1 if x=='2018 Program' else 0)
data['2019 Program'] = data['program_year_group'].apply(lambda x: 1 if x=='2019 Program' else 0)

#### 3.4 Adding Case Status Group

In [60]:
# create function, 'getCaseStatusGroup' that checks for each instance if 'Case Closed Date' is 'null' or not
    ## and then categorizes the concerned client's case as either 'Case Open' or 'Case Closed'

## NOTE:  ASSUMPTION is being made that:
    ## if a case DOES NOT have a 'Case Closed Date' listed, then it CANNOT be confirmed to be closed (i.e., it is 'Case Not Confirmed Closed')
    ## if a case DOES have a 'Case Closed Date' listed, then it CAN be confrimed to be closed (i.e., it is 'Case Confirmed Closed')

def getCaseStatusGroup(row):
    close_date = row['Case Closed Date']
    group = 0
    
    if close_date is pd.NaT:

        group = 'Case Not Confirmed Closed'      
    else:
        group = 'Case Confirmed Closed'
    return group

In [61]:
# apply 'getCaseStatusGroup' function to 'data' to make new column, 'case_status_group'
data['case_status_group'] = data.apply(lambda row: getCaseStatusGroup(row), axis = 1)

In [62]:
# create new 'data' columns, that both sum and take the mean of important columns of interest to create counts and averages 
    ## per demographic category of interest

# get case status specific column counts
data['Case Not Confirmed Closed'] = data['case_status_group'].apply(lambda x: 1 if x=='Case Not Confirmed Closed' else 0)
data['Case Confirmed Closed'] = data['case_status_group'].apply(lambda x: 1 if x=='Case Confirmed Closed' else 0)

#### 3.5 Adding Count Column

In [63]:
# add 'count' column and set it equal to '1' for 'data' for future counting
data['count'] = 1

### 4. Preparing Data for Export

In [65]:
# write 'data_merge' to a csv
data_merge.to_csv('data/interim/data_merge.csv', encoding = 'utf-8', index = False)

# write 'data' to a csv
data.to_csv('data/interim/data.csv', encoding = 'utf-8', index = False)